.objects {
    max-width: 1280px;
    margin: 45px auto 130px;

    &-list {
        display: grid;
        grid-template-columns: repeat(3, 384px);
        grid-gap: 24px;

        @media(max-width: 1340px) {
            grid-template-columns: repeat(2, 384px);
            justify-content: center;
        }

        @media(max-width: 840px) {
            grid-template-columns: 384px;
        }

        &__item {
            box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.1);
            font-size: 24px;
            line-height: 34px;
            font-weight: 500;

            img {
                max-height: 288px;
                height: 288px;
            }

            &__link {
                padding: 10px;
                height: 190px;
                color: black;
                display: block;
            }

            &:hover {
                background-color: #ffcb00;
            }
        }

        &__item:hover figcaption {
            filter: drop-shadow(0px 0px 23px rgba(0, 0, 0, 0.1));
            background: linear-gradient(100.01deg, #FFCB00 41.72%, #D9A900 104.17%);
        }
    }
}