.steps-list {
    max-width: 1280px;
    margin: 0 auto 130px;
    display: grid;
    grid-template-columns: repeat(3, 384px);
    grid-gap: 24px;

    @media(max-width: 1340px) {
        grid-template-columns: 1fr;
        grid-gap: 80px;
    }

    @media(max-width: 968px) {
        margin: 0 auto 65px;
    }

    &__item {

        @media(max-width: 1340px) and (min-width: 968px) {
            display: flex;
            align-items: center;
            padding: 0 25px;
        }

        div {

            @media(max-width: 1340px) {
                max-width: 450px;
            }
        }

        &__heading {
            margin: 42px 0 19px;
            font-size: 30px;
            line-height: 42px;
            height: 84px;

            @media(max-width: 1340px) {
                height: auto;
                margin-top: 0;
            }

            @media(max-width: 968px) {
                margin-top: 42px;
            }

            @media(max-width: 768px) {
                font-size: 18px;
                line-height: 26px;
            }
        }

        &__text {
            font-size: 24px;
            line-height: 42px;
            max-width: 400px;
            
            @media(max-width: 768px) {
                max-width: 450px;
                font-size: 16px;
                line-height: 23px;
            }

            br {

                @media(max-width: 768px) {
                    display: none;
                }
            }

            span {
                display: block;
                font-size: 18px;
                line-height: 21px;

                @media(max-width: 768px) {
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
    }

    &__item:nth-child(even) {
        margin-left: auto;

        @media(max-width: 968px) {
            margin-left: 0;
        }
    }
}