.footer {
  margin-top: 130px;
  padding: 69px 0 0;
}

@media (max-width: 968px) {
  .footer {
    margin-top: 65px;
  }
}

@media (max-width: 640px) {
  .footer {
    margin-top: 30px;
    padding: 30px 0 0;
  }
}

.footerBg {
  background-image: url("https://yaramark.by/img/footer-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.footerTop {
  max-width: 1280px;
  margin: 0 auto;
}

@media (max-width: 1340px) {
  .footerTop {
    margin: 0 50px;
    max-width: 1024px;
  }
}

@media (max-width: 640px) {
  .footerTop {
    margin: 0 30px;
  }
}

.footerTopHeading {
  color: #ffcb00;
  font-size: 42px;
  line-height: 42px;
  margin-bottom: 50px;
}

@media (max-width: 500px) {
  .footerTopHeading {
    font-size: 20px;
    line-height: 24px;
  }
}

.footerBottom {
  position: relative;
  max-width: 1280px;
  margin: 40px auto 0;
  padding: 50px 0 15px;
  display: grid;
  grid-template-columns: 100px 1fr 170px;
  color: #ffcb00;
  line-height: 28px;
  font-size: 20px;
}

@media (max-width: 1340px) {
  .footerBottom {
    max-width: 1024px;
    padding: 50px 50px 15px;
  }
}

@media (max-width: 640px) {
  .footerBottom {
    line-height: 18px;
    font-size: 13px;
    padding: 30px 30px 15px;
    grid-template-columns: 80px 1fr 110px;
  }
}

@media (max-width: 400px) {
  .footerBottom {
    line-height: 18px;
    font-size: 13px;
    padding: 15px;
  }
}

.footerBottomBg::before {
  background-image: url("https://yaramark.by/img/footer-logo-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
}

.footerBottomInstagram {
  display: grid;
  grid-template-rows: repeat(2, 28px);
  grid-gap: 2px;
  margin-top: 50px;
  position: relative;
  z-index: 2;
}

@media (max-width: 500px) {
  .footerBottomInstagram {
    margin-top: 0;
  }
}

.footerBottomContacts {
  display: grid;
  grid-template-rows: repeat(2, 28px);
  grid-gap: 2px;
  margin-top: 50px;
  position: relative;
  z-index: 2;
}

@media (max-width: 500px) {
  .footerBottomContacts {
    margin-top: 0;
  }
}

.footerBottomLogo {
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-gap: 10px;
  text-align: center;
  z-index: 2;
}

.footerBottomLogo a {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 500px) {
  .footerBottomLogo svg {
    width: 75px;
    height: 75px;
  }
}

.footerBottom a {
  color: #ffcb00;
}
