.preview {
  background-image: url("https://yaramark.by/img/preview-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 132px 0 176px;
}

@media (max-width: 968px) {
  .preview {
    padding: 65px 0;
  }
}

@media (max-width: 640px) {
  .preview {
    padding: 30px 0;
  }
}

.previewContainer {
  max-width: 1280px;
  margin: 0 auto;
}

@media (max-width: 1340px) {
  .previewContainer {
    margin: 0 50px;
  }
}

@media (max-width: 640px) {
  .previewContainer {
    margin: 0 30px;
  }
}

.previewContainer a {
  color: black;
}

.previewHeading {
  font-size: 50px;
  line-height: 70px;
  color: white;
}

@media (max-width: 640px) {
  .previewHeading {
    font-size: 30px;
    line-height: 42px;
  }
}

.previewHeading span {
  color: #ffcb00;
  display: block;
}

.previewText {
  margin: 40px 0 176px;
  font-size: 24px;
  line-height: 34px;
  color: white;
}

@media (max-width: 640px) {
  .previewText {
    font-size: 16px;
    line-height: 24px;
    margin: 40px 0 338px;
  }
}

.previewText span {
  color: #ffcb00;
}
